#docker
# DB_HOST=localhost
# DB_PORT=5432
# DB_USERNAME=user
# DB_PASSWORD=password
# DB_DATABASE=sprocket_factory
#local
DB_HOST=ep-twilight-queen-a4k7jtmc-pooler.us-east-1.aws.neon.tech
DB_PORT=5432
DB_USERNAME=default
DB_PASSWORD=C7sEyPpo4gKT
DB_DATABASE=verceldb